# Unit Project 1

**Write a high quality problem statement**

>Which factors have the most impact on whether someone gets accepted into UCLA's graduate school?

**Identify the variables of the dataset, including the response and predictors**

Predictor Variable | Response Variable |
---|---|
gre | admit
gpa | 
prestige |

**Create a data dictionary with classification of available variables**

Variable | Description | Type of Variable
---|---|---
admit | Graduate school admission, 0 = not admitted, 1 = admitted | Categorical
gre | GRE exam score ranges from 0 to 800 | Continuous
gpa | GPA range from 0 to 4.0 | Continuous
prestige | Prestige from alma mater, ranges from 1 = high to 4 = low | Categorical

**State the risks and assumptions of your data**

>An assumption of the data is the level of "prestige" the admissions office gives to an alma mater and the inherent bias in such a category.

**Outline exploratory data analysis methods**

In [7]:
import os
import pandas as pd

data = pd.read_csv('https://raw.githubusercontent.com/ga-students/DAT-NYC-45/master/unit-project/dataset/ucla-admissions.csv?token=AH5olAdSpcGExyoWLMgPYRRnq9hZUULtks5YUi0kwA%3D%3D')

In [56]:
data.describe()
# Overview of the data set and brief summary of it's characteristics.

            admit         gre        gpa    prestige
count  400.000000  398.000000  398.00000  399.000000
mean     0.317500  588.040201    3.39093    2.486216
std      0.466087  115.628513    0.38063    0.945333
min      0.000000  220.000000    2.26000    1.000000
25%      0.000000         NaN        NaN         NaN
50%      0.000000         NaN        NaN         NaN
75%      1.000000         NaN        NaN         NaN
max      1.000000  800.000000    4.00000    4.000000

In [14]:
data.sample(5)
# Small sample of data

     admit    gre   gpa  prestige
70       0  640.0  4.00       3.0
330      0  740.0  4.00       3.0
347      0  580.0  3.80       2.0
239      0  700.0  3.45       3.0
177      1  620.0  3.23       3.0

In [51]:
# Number of non-admitted students and admitted students
data.admit.value_counts()

0    273
1    127
Name: admit, dtype: int64

In [53]:
# Number of prestigious schools by ranked categories
data.prestige.value_counts()

2.0    150
3.0    121
4.0     67
1.0     61
Name: prestige, dtype: int64